@import '../../variables';

.section {
  display: inline-block;
  vertical-align: top;
  width: 100% / 12 * 9;
  padding-right: 15px;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    padding-right: 0;

    &:first-of-type {
      padding-bottom: 0;
    }
  }

  &:last-of-type {
    padding-left: 15px;
    padding-right: 0;
    width: 100% / 12 * 3;
    text-align: right;

    > h2 {
      float: right;
    }

    > a {
      clear: both;
    }

    @media (max-width: $breakpoint-lg) {
      padding-left: 0;
      padding-top: 0;
      text-align: left;
      width: 100%;

      > h2 {
        float: none;
      }
    }
  }

  > h2 {
    color: #000;
    font-size: 2rem;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }

  > a {
    display: block;
    color: $theme-color-1;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
    transition: .3s all ease;

    &:hover {
      color: $theme-color-1-1;
    }
  }
}

@media (max-width: $breakpoint-lg) {

}