@import '../../variables';

.section {

  p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:first-child {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.link {
  margin-bottom: 1rem;
  color: $theme-color-1;
  transition: .3s all ease;

  &:hover {
    color: $theme-color-1-1;
  }
}
