@import '../../variables';

.wrapper {
  background-color: #183661;
  opacity: .9;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;

  > div > h2 {
    color: #fff;
  }

  p {
    color: #7697c6;
    margin-top: 0;
    margin-bottom: 1rem;

    &:first-child {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.link {
  margin-bottom: 1rem;
  color: $theme-color-1;
  transition: .3s all ease;

  &:hover {
    color: $theme-color-1-1;
  }
}
