@import "../../variables";

.FeatureCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  > div {
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: $breakpoint-md) {
      width: calc(100% / 2 - 30px)
    }

    @media (min-width: $breakpoint-lg) {
      width: calc(100% / 3 - 30px);
    }
  }
}