.header {
  height: 80px;
  background: rgb(26,187,189);
  background: linear-gradient(0deg, rgba(26,187,189,1) 0%, rgb(201, 242, 242) 100%);

  box-shadow: 0 0 5px 1px rgba(0,0,0,.4);

  display: flex;
}

