.headerWrap {
  width: 100vw;
  min-width: 320px;
  background-color: #fff;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  transition: padding .1s linear;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin: 15px 0;

  img {
    display: block;
  }
}