@import "../../variables";

.section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  @media (min-width: $breakpoint-md) {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  &.leftside {
    @media (min-width: $breakpoint-lg) {
      display: flex;
    }
  }
}

.title {
  display: inline-block;

  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 3rem;

  border-bottom: 4px solid $theme-color-1;
}

.text {
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.center {
  text-align: center;
}

.leftside > .leftside {
  text-align: left;
  width: calc(100% / 3);
  margin-right: 30px;

  .title {
    margin-bottom: 0.5rem;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    margin-right: 0;
  }

  @media (min-width: $breakpoint-lg) {
    + div {
      width: calc(100% * 2 / 3 - 30px);
    }
  }
}
