@import "../../variables";

.section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;

  @media (min-width: $breakpoint-md) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.title {
  display: inline-block;

  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;

  margin: 0 0 3rem;

  border-bottom: 4px solid $theme-color-1;
}

.center {
  text-align: center;
}
