$theme-color-1: #51be78;
$theme-color-1-1: #358e55;
$theme-color-1-2: #3fa965;
$theme-color-1-3: #3ca060;
$theme-color-3: #f8f9fa;

$breakpoint-xs: 319.98px;
$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;
